:root{
    --primary-color: #35c1bd;
    --secondary-color: #212733;
}
body{
    background-color: #f2f2f2;;
}
.gradientColor{
    background: linear-gradient(to right, #03ff03, #0037ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.personalDetail{
    border: 1px solid var(--secondary-color);
    border-bottom: 20px solid var(--secondary-color);
}
.borderRight{
    border-right: 1px solid var(--secondary-color);   
}
.ant-collapse .ant-collapse-item {
    border-bottom: none;
}
.ant-collapse .ant-collapse-item .ant-collapse-header-text{
    color: var(--secondary-color);
    font-weight: 600;
}
.ant-collapse .ant-collapse-item .ant-collapse-expand-icon span{
    background-color: var(--primary-color);
    color: #fff !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex !important;
    font-size: 18px !important;
    justify-content: center;
}
.ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-expand-icon span{
    background-color: var(--secondary-color);
}
.ant-collapse-content{
    background-color: var(--secondary-color) !important;
    color: #fff !important;
    margin-left: 68px !important;
}
.ant-collapse-content.ant-collapse-content-active .ant-collapse-content-box{
    padding-top: 16px !important;
    padding: 16px !important;
}
.ant-menu .ant-menu-item{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    width: 100%;
}
.ant-layout .ant-layout-sider {
    background: #212733;
}
.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-dark>.ant-menu .ant-menu-item-selected{
    background-color: #35c1bd;
}
.hideFilter{
    transform: translateX(305px);
    -webkit-transform: translateX(305px);
    -moz-transform: translateX(305px);
    -ms-transform: translateX(305px);
    -o-transform: translateX(305px);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.showFilter{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition:  all ease .5s;
    -webkit-transition:  all ease .5s;
    -moz-transition:  all ease .5s;
    -ms-transition:  all ease .5s;
    -o-transition:  all ease .5s;
}
.ant-table-thead tr th{
    color: white !important;
    background-color: var(--secondary-color) !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
.ant-table-thead tr th::before{
    background-color: transparent !important;
}
.ant-table table{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
.searchInput input,
.ant-select-selection-search input{
    color: var(--secondary-color) !important;
    font-weight: 500 !important;
}
.loginBg{
    background-image: url('/public/login_bg.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.loginBg input.ant-input::placeholder{
    text-align: center !important;
}
ul.userList{
    margin-left: 0;
}
ul.userList li:before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('/public/check.svg');
    position: absolute;
    left: -13px;
    z-index: 9;
    margin-top: 3px;
}
ul.userList li:after{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #2fada9;
    position: absolute;
    left: -15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 0;
}
.jobHead:after{
    display: block;
    content: "";
    width: 200px;
    height: 4px;
    background-color: #2fada9;
    margin-top: -15px;
    margin-left: 390px;
}
@media screen and (max-width:991px){
    .exportTable .ant-table{
        overflow-x: scroll;
    }
    .borderRight{
        border-right: none;
        border-bottom: 1px solid var(--secondary-color);   
    }
    .jobHead:after {
        width: 250px;
        margin-top: 25px;
        margin-left: 0;
    }
    .ant-collapse-content{
        margin-left: 10px !important;
    }
    .ant-collapse-item >.ant-collapse-header {
        padding-inline-start: 0px !important;
    }
}