:root {
    --primary-color: #35c1bd;
    --secondary-color: #212733;
}

body {
    background-color: #f2f2f2;
    font-size: 12px;
}

.ant-input,
.ant-select-selector .ant-select-selection-search-input::placeholder {
    font-size: 12px !important;
}

input::placeholder,
.ant-select-selection-placeholder {
    color: #999 !important;
    font-size: 12px !important;
}

.ant-form-item .ant-form-item-label>label {
    font-size: 12px;
}

.ant-select-multiple .ant-select-selector {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.ant-table-wrapper .ant-table-column-sorter-inner {
    color: #fff;
}

.ant-table-wrapper .ant-table-column-sorter-down.active {
    color: #35c1bd;
}

.gradientColor {
    background: linear-gradient(to right, #03ff03, #0037ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.personalDetail {
    border: 1px solid var(--secondary-color);
    border-bottom: 20px solid var(--secondary-color);
}

.borderRight {
    border-right: 1px solid var(--secondary-color);
}

.ant-collapse .ant-collapse-item {
    border-bottom: none;
}

.ant-collapse .ant-collapse-item .ant-collapse-header-text {
    color: var(--secondary-color);
    font-weight: 600;
}

.ant-collapse .ant-collapse-item .ant-collapse-expand-icon span {
    background-color: var(--primary-color);
    color: #fff !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex !important;
    font-size: 18px !important;
    justify-content: center;
}

.ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-expand-icon span {
    background-color: var(--secondary-color);
}

.ant-collapse-content {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
    margin-left: 68px !important;
}

.ant-collapse-content.ant-collapse-content-active .ant-collapse-content-box {
    padding-top: 16px !important;
    padding: 16px !important;
}

.ant-menu .ant-menu-item {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    width: 100%;
}

.ant-layout .ant-layout-sider {
    background: #212733;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
}

.filterBtns .ant-btn {
    font-size: 12px;
    height: 30px;
    padding: 4px 23px;
    background-color: #49cdb4;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ant-tabs {
    font-size: 12px;
    line-height: 1.2;
}

.anticon-eye svg {
    font-size: 13px;
}

.filterMulti .ant-select-multiple .ant-select-selection-item {
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 18px;
    border-radius: 0px;
    margin-inline-end: 2px;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
}

.filterMulti .ant-select-multiple .ant-select-selector {
    padding: 0px 4px;
}

.filterMulti .ant-select .ant-select-arrow {
    inset-inline-end: 17px;
}

.filterMulti .ant-select .ant-select-clear {
    inset-inline-end: 30px;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: #35c1bd;
}

.ant-table-thead tr th {
    color: white !important;
    background-color: var(--secondary-color) !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.ant-table-thead tr th::before {
    background-color: transparent !important;
}

.ant-table table {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.ant-select-selector .ant-select-selection-search-input {
    height: 27px !important;
}

.searchInput input,
.ant-select-selection-search input {
    color: var(--secondary-color) !important;
}

.filterTabs>.ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
}

.filterTabs>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin-left: 0 !important;
    justify-content: center;
}

.filterTabs .ant-tabs-tab.ant-tabs-tab-active {
    justify-content: center;
}

.filterTabs>.ant-tabs-nav .ant-tabs-tab {
    width: 50%;
    justify-content: center;
}

.searchTabs>.ant-tabs-nav .ant-tabs-tab {
    background: rgb(255 255 255);
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #ffffff;
    background: #35c1bd;
}

.profileModal {
    top: 15px !important;
}

.filterBtns .ant-btn:hover {
    color: #fff;
    background-color: #4096ff;
}

.ant-tabs .ant-tabs-tab:hover {
    color: #35c1bd;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper:hover {
    background-color: rgb(53 193 189);
    color: #fff;
}

.searchTabs>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin-left: 0;
}

.loginBg {
    background-image: url('/public/login_bg.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


ul.userList {
    margin-left: 0;
}

ul.userList li:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('/public/check.svg');
    position: absolute;
    left: -13px;
    z-index: 9;
    margin-top: 3px;
}

ul.userList li:after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #2fada9;
    position: absolute;
    left: -15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 0;
}

.jobHead:after {
    display: block;
    content: "";
    width: 200px;
    height: 4px;
    background-color: #2fada9;
    margin-top: -12px;
    margin-left: 275px;
}

.mainContent {
    margin-left: 270px;
    width: calc(100% - 290px);
}

.filterMulti .ant-select-multiple .ant-select-selector {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.exportTable .ant-table .ant-table-content {
    height: 60vh;
    overflow: auto;
    ;
}

.exportContent {
    height: 85vh;
}

::-webkit-scrollbar{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404a5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #49cdb4;
}
.userDetailTable{
    width: 100%;
}
.userDetailTable tr td{
    padding: 12px 20px;
}
.userDetailTable tr td{
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}
.userDetailTable tr td:nth-child(2){
    border-right: 2px solid #ccc;
}
.personalDetail .ant-tabs-nav{
    margin-bottom: 0;
}
.verifyEmail{
    background: #fff;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.exportTable .ant-table-tbody>tr>td {
    padding: 4px 12px !important;
    font-size: 12px;
}

.exportTable .ant-table-tbody>tr.ant-table-row:hover>td {
    background: #34c3c7;
    color: #fff;
}

.filterInputField .ant-input {
    padding: 3px 10px;
}

.multi-range-slider {
    border: none;
    border-radius: 0px;
    padding: 10px 0;
    box-shadow: none;
    width: 86%;
}

.exportTable .ant-table-tbody>tr.ant-table-row:hover>td svg {
    fill: #fff;
}

.filterTabs .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.filterTabs .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #ffffff;
    background: #35c1bd;
}

.multi-range-slider .labels,
.multi-range-slider .ruler {
    display: none;
}

.multi-range-slider .bar-inner {
    background-color: #35c1bd;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    border: solid 1px #1f706e;
    justify-content: space-between;
    box-shadow: inset 0px 0px 5px #1f706e;
}

.multi-range-slider .thumb::before {
    border: solid 1px #35c1bd;
    box-shadow: 0px 0px 3px #35c1bd, inset 0px 0px 5px gray;
    margin: -7px -12px;
}

.searchInput .ant-input-affix-wrapper-lg {
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.multi-range-slider .thumb .caption * {
    font-size: 80%;
    font-weight: 500;
    background-color: #0d5957;
}


.searchInput input {
    padding-left: 10px !important;
}

.menutoggle {
    display: none;
    padding-inline-start: 20px !important;
    padding-inline-end: 20px !important;
}

.searchIcon {
    padding: 10px;
    background: #ededed;
    cursor: pointer;
}

.overlay {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.filterScroll {
    height: calc(100vh - 250px);
    padding-bottom: 0px;
    overflow-y: auto;
}

.ant-select-multiple .ant-select-selection-item {
    background-color: rgb(73 205 180);
}

.ant-select-multiple .ant-select-selection-item-content,
.ant-select-multiple .ant-select-selection-item-remove {
    color: #fff;
    font-size: 12px;
}

header,.footer{
    margin-left: 250px;
    width: calc(100% - 250px) !important;
}

.ant-form-item-control-input-content span,
.ant-input-affix-wrapper>input.ant-input,
.ant-input-affix-wrapper>input.ant-input::placeholder {
    font-size: 12px !important;
}

.filterTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
}

.filterTabs .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetailModal {
    width: 1200px !important;
    top: 15px;
}

.ant-tabs .ant-tabs-tab .anticon {
    margin-right: 5px;
    font-size: 17px;
}

.profileTabs .ant-tabs-tab-btn {
    color: #212733;
}

.ant-tree-select-dropdown .filterTabs .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
}

.filterTabs .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
.ant-btn,
.ant-select-single .ant-select-selector,
.ant-input-affix-wrapper,
.ant-input,
.ant-card,
.ant-dropdown .ant-dropdown-menu,
.ant-modal .ant-modal-content,
.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
.ant-select-dropdown {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.ant-select-dropdown {
    width: 218px !important;
    min-width: 218px !important;
}

.filterTabs>.ant-tabs-nav {
    margin-bottom: 5px;
}

.filterTabs>.ant-tabs-nav .ant-tabs-tab {
    padding: 5px;
}

.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #35c1bd;
}

.ant-select-selector {
    height: 30px !important;
}

.filterMulti .ant-select-selector {
    height: auto !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 25px !important;
    font-size: 12px !important;
}
.loginFooter{
    padding: 10px 20px;
    margin-top: -45px;
}
.ant-table-wrapper .ant-table {
    font-size: 12px;
    line-height: 12px;
}

.ant-select-single {
    font-size: 10px;
    width: 220px !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
    padding: 8px;
    font-size: 12px;
}

.filterTabs input {
    font-size: 12px;
}

.filterTabs>.ant-tabs-nav::before {
    border-bottom: none;
}

.filterBtns {
    position: fixed;
    bottom: 15px;
    left: 11px;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher {
    width: 0;
}

.exportTable .ant-table-thead>tr>th,
.exportTable .ant-table-tbody>tr>td {
    white-space: nowrap;
}

.ant-layout-header {
    padding-inline: 0;
}

.totalHeader {
    padding-left: 20px;
}
.redScore, .greenScore, .yellowScore{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: auto
}
.redScore{
    background-color: crimson;
}
.greenScore{
    background-color: forestgreen;
}
.yellowScore{
    background-color: orange;
}
.rightHeader {
    padding-right: 20px;
}
.footer{
    margin-top: 15px;
    padding: 10px 20px;
}
@media screen and (max-width:991px) {
    .exportTable .ant-table {
        overflow-x: scroll;
    }

    .userDetailModal {
        width: 90vw !important;
        top: 15px;
    }

    header,.footer {

        margin-left: 0;
        width: 100% !important;
        padding-inline: 0 !important;
    }

    .totalHeader {
        padding-left: 40px;
    }

    .rightHeader {
        padding-right: 10px;
    }
    .userTableMobile{
        overflow-x: auto;
    }
    .exportTable .ant-table-thead>tr>th,
    .exportTable .ant-table-tbody>tr>td {
        white-space: nowrap;
    }

    .filterBtns {
        bottom: 70px;
    }

    .overlay {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .userDetailModal .ant-modal-content {
        padding: 10px 0 !important;
    }

    .borderRight {
        border-right: none;
        border-bottom: 1px solid var(--secondary-color);
    }
    
    .jobHead:after {
        width: 250px;
        margin-top: 25px;
        margin-left: 0;
    }

    .ant-collapse-content {
        margin-left: 10px !important;
    }

    .ant-collapse-item>.ant-collapse-header {
        padding-inline-start: 0px !important;
    }

    .ant-layout .ant-layout-sider {
        transform: translateX(-300px);
    }

    .menutoggle {
        display: flex;
    }

    .mainContent {
        margin-left: 2.5%;
        width: 95%;
        margin-right: 2.5%;
    }

    .logoText {
        display: none;
    }
    .loginBg {
        height: auto;
        padding-bottom: 100px;
    }
    .loginFooter{
        margin-top: -70px;
    }
    .footer{
        margin-top: 25px;
    }
}

@media screen and (max-width:479px) {
    .userName {
        display: none;
    }
}